.Form {
  display: flex;
  flex-direction: column;
}

.Label {
  text-align: left;
  padding: 10px 0;
}

.Input {
  background-color: #eaedf2;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #111;
  transition: all 150ms ease-out;

  &:focus {
    border-bottom: 1px solid #97c688;
    transition: all 150ms ease-in;
  }
}

.FormError {
  font-size: 14px;
  padding: 10px;
  color: #c2606a;
}

.Dropdown {
  padding: 10px;
}

.SubmitBtn {
  background-color: #97c688;
  color: #303742;
  width: 150px;
  align-self: flex-end;
  margin-top: 2rem;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:disabled {
    background-color: #d6dde8;
    color: #303742;
    cursor: not-allowed;
  }
}
