.form {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: left;
  padding: 10px 0;
}

.input {
  background-color: #eaedf2;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(44, 49, 64, 0.25);
  margin-bottom: 0.5rem;
  transition: border 200ms ease-out;

  &:focus {
    border: 1px solid #2c3140;
    transition: border 200ms ease-in;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.formError {
  font-size: 14px;
  padding: 10px;
  color: #cc241d;
}

.dropdown {
  padding: 10px;
  background-color: #eaedf2;
}

.submitBtn {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  border: 2px solid #97c688;
  background-color: #eaedf2;
  cursor: pointer;
  transition: background-color 200ms ease-out;

  &:hover {
    background-color: #97c688;
    transition: background-color 200ms ease-in;
  }
}
