.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 65vh;
  width: 18vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: fadeIn 250ms;
}
