.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
