$link-color: #282828;

.linkContainer {
  position: relative;
}

.link {
  color: $link-color;
  text-decoration: none;
  text-transform: lowercase;

  &:hover {
    text-decoration: underline;
    color: lighten($link-color, 10%);
  }

  &:active {
    color: $link-color;
  }
}

.removeBtn {
  position: absolute;
  right: 0;
  color: lighten($link-color, 70%);
  opacity: 0.5;

  &:hover {
    color: #cc241d;
    opacity: 1;
    cursor: pointer;
    transition: all 400ms;
  }
}
