.burgerMenuList {
  height: 100%;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burgerMenuListItem {
  width: 100%;
}

.menuButton {
  width: 100%;
  padding: 1rem;
  border: 2px solid #ebeef3;
  background-color: #373a47;
  color: #ebeef3;
  margin-bottom: 1rem;
  transition: all 200ms ease-out;

  &:hover {
    background-color: #ebeef3;
    color: #373a47;
    transition: all 200ms ease-in;
  }

  &:focus {
    outline: 0;
  }
}

.footerLink {
  color: #ebeef3;
  font-size: 0.8rem;
  margin-top: auto;
  justify-self: flex-end;
  align-self: flex-end;
}

.linkButton {
  color: #ebeef3;
  transition: all 200ms ease-out;

  &:hover {
    color: #fff;
    transition: all 200ms ease-in;
  }
}
